{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block title 'Baseball Club'%}

{% block body %}
<div id="carte" class="container-flex">
<div class="container mt-4 h-500">
<div class="row justify-content-center">
<div class="card text-white bg-dark mb-3" style="width: 18rem;">
  <img src="" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Bienvenue</h5>
    <p class="card-text">Veuillez vous identifiez pour accédez à votre Dashboard:</p>
<form action="{{ path('home') }}" method="post">
        <div class="form-group">
            <label for="username">Identifiant:</label>
            <input type="text" id="username" name="_username"class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" name="_password"class="form-control">
        </div>
    <button type="submit" id="btf" class=" w-25 col-12  btn btn-dark btn-sm d-flex justify-content-right">Login<i class="swg swg-darthvader"></i></button>
    </form>
  </div>
</div>
</div>
{% endblock %}