body,
html{
    
    background-image: url("../images/star_killer.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;

    #carte{
        margin-top:20vh;

    }    











}